apsw==3.36.0.post1
argcomplete==2.0.0
asgiref==3.5.1
Babel==2.9.1
Beaker==1.10.0
beautifulsoup4==4.11.0
blessings==1.7
blivet==3.4.3
blivet-gui==2.3.0
bpython==0.22.1
Brlapi==0.8.3
cchardet==2.1.7
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.11
chrome-gnome-shell==0.0.0
click==8.0.4
cryptography==36.0.0
css-parser==1.0.7
cupshelpers==1.0
curtsies==0.3.10
cwcwidth==0.1.4
dasbus==1.6
dbus-python==1.2.18
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
distro==1.6.0
Django==4.0.4
django-cors-headers==3.12.0
django-filter==21.1
djangorestframework==3.13.1
dnspython==2.2.0
fedora-third-party==0.10
feedparser==6.0.8
filelock==3.6.0
fros==1.1
gpg==1.15.1
greenlet==1.1.2
gssapi==1.7.2
gunicorn==20.1.0
html2text==2020.1.16
html5-parser==0.4.10
html5lib==1.1
humanize==3.13.1
idna==3.3
ifaddr==0.1.7
img2pdf==0.4.3
jedi==0.18.1
jeepney==0.7.1
koji==1.28.1
langtable==0.0.58
libcomps==0.1.18
lxml==4.7.1
Mako==1.1.4
Markdown==3.3.6
MarkupSafe==2.0.0
mechanize==0.4.7
msgpack==1.0.3
netifaces==0.11.0
nftables==0.1
numpy==1.22.0
odfpy==1.4.1
olefile==0.46
packaging==21.3
parso==0.8.2
Paste==3.5.0
pdfarranger==1.8.2
pexpect==4.8.0
pid==2.2.3
pikepdf==5.1.2
Pillow==9.1.0
platformdirs==2.5.2
ply==3.11
productmd==1.33
progressbar2==3.53.2
psutil==5.8.0
ptyprocess==0.6.0
pwquality==1.4.4
pycairo==1.21.0
pychm==0.8.6
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.45.1
pyenchant==3.2.2
pygit2==1.7.1
Pygments==2.11.2
PyGObject==3.42.1
pykickstart==3.36
pyOpenSSL==21.0.0
pypandoc==1.7.4
pyparsing==2.4.7
pyparted==3.12.0
PyQt5==5.15.6
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.4
PySide2==5.15.2.1
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.1
python-gettext==4.0
python-Levenshtein==0.12.0
python-manatools==0.0.4
python-meh==0.50
python-utils==2.5.6
pytz==2022.1
pyudev==0.22.0
pyxdg==0.27
PyYAML==6.0
QtPy==2.0.1
regex==2022.3.15
requests==2.27.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
rpm==4.17.0
rpmautospec==0.2.6
selinux==3.3
sepolicy==3.3
setools==4.4.0
sgmllib3k==1.0.0
shiboken2==5.15.2.1
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sos==4.3
soupsieve==2.3.1
sqlparse==0.4.2
systemd-python==234
Tempita==0.5.2
typing-extensions==3.10.0.2
urllib3==1.26.8
virtualenv==20.14.1
watchdog==2.1.6
webencodings==0.5.1
whitenoise==6.1.0
zeroconf==0.38.4
